/* This is a custom style for the HeroBanner component. */

/* Change size for hero image here */
.main_wrapper {
    width: 700px;
    height: 700px;
}

.images_wrapper {
    width: 100%;
    height: 100%;
}

.sub_images_wrapper {
    width: 100%;
    height: 100%;
}

/* START: Circles */
.circle01 {
    top: 15%;
    left: 21%;
    width: 8%;
    height: 8%;
}

.circle02 {
    top: 94%;
    left: 52%;
    width: 6.5%;
    height: 6.5%;
}

.circle03 {
    top: 11%;
    left: 93%;
    width: 8%;
    height: 8%;
}

.circle04 {
    top: 15%;
    left: 24%;
    width: 66%;
    height: 66%;
}

.circle05 {
    top: 37%;
    left: 98%;
    width: 8.5%;
    height: 8.5%;
}

.circle06 {
    top: 47%;
    left: 0;
    width: 10%;
    height: 10%;
}
/* END: Circles */

.hero_img_01 {
    top: 0;
    left: 27%;
    width: 75%;
    height: 75%;
}

.hero_img_02 {
    top: 45%;
    left: 3%;
    width: 48%;
    height: 48%;
}

.hero_img_03 {
    top: 68%;
    left: 60%;
    width: 40%;
    height: 40%;
}

@media screen and (max_width: 768px) {

    /* Change size for hero image on tablet here */
    .main_wrapper {
        width: 600px;
        height: 600px;
    }
}

@media screen and (max_width: 390px) {

    /* Change size for hero image on mobile here */
    .main_wrapper {
        width: 300px;
        height: 300px;
    }
}